memres.h
.deps/
autom4te.cache/
Makefile
bin2hdr
*.o
config.h
config.log
config.status
docs/Makefile
libtool
opennx
opensc/opensc-config
packaging/MacOSX/Makefile
packaging/MacOSX/opennx-main.plist
packaging/MacOSX/opennx.plist
packaging/MacOSX/pkg.plist
packaging/MacOSX/pulse/Makefile
packaging/win32/Makefile
packaging/win32/cygnx/Makefile
packaging/win32/findrequires.pl
packaging/win32/isccwrap.sh
packaging/win32/nx/Makefile
packaging/win32/pulse/Makefile
packaging/win32/xming/Makefile
pconnect
po/Makefile
po/Makefile.in
po/POTFILES
pulsetest
res/opennx.rc
stamp-h1
tmpres.zip
watchreader
config.h.in~
watchusbip
ChangeLog
aclocal.m4
conf/config.sub
conf/ltmain.sh
config.h.in
configure
opennx.spec
bin2hdr.exe
opennx.exe
packaging/win32/.dlldeps
packaging/win32/.miscfonts
packaging/win32/.setupdir
packaging/win32/.stripsetup
packaging/win32/OpenNX-0.16.0.0-Setup.exe
packaging/win32/cygnx/dist/
packaging/win32/cygnx/innounp.exe
packaging/win32/cygnx/innounp*.rar
packaging/win32/cygnx/install_script.iss
packaging/win32/cygnx/nxsetup.exe
packaging/win32/cygnx/unrar.available
packaging/win32/cygnx/{app}/
packaging/win32/dejavu-fonts-ttf-*.tar.bz2
packaging/win32/dejavu-fonts-ttf-*/
packaging/win32/font-misc-misc-*.tar.bz2
packaging/win32/font-misc-misc-*/
packaging/win32/pulse/.tmpinstall
packaging/win32/pulse/dist/
packaging/win32/pulse/include/
packaging/win32/pulse/json-c-*.tar.gz
packaging/win32/pulse/json-c-*/
packaging/win32/pulse/json-c-build-cross
packaging/win32/pulse/json-c-checkarchive
packaging/win32/pulse/json-c-srcdir
packaging/win32/pulse/libsamplerate-*.tar.gz
packaging/win32/pulse/libsamplerate-*/
packaging/win32/pulse/libsamplerate-build-cross
packaging/win32/pulse/libsamplerate-checkarchive
packaging/win32/pulse/libsamplerate-srcdir
packaging/win32/pulse/libsndfile-*.tar.gz
packaging/win32/pulse/libsndfile-*/
packaging/win32/pulse/libsndfile-build-cross
packaging/win32/pulse/libsndfile-checkarchive
packaging/win32/pulse/libsndfile-srcdir
packaging/win32/pulse/pkg-config
packaging/win32/pulse/pulseaudio-*.tar.gz
packaging/win32/pulse/pulseaudio-*/
packaging/win32/pulse/pulseaudio-build-cross
packaging/win32/pulse/pulseaudio-checkarchive
packaging/win32/pulse/pulseaudio-srcdir
packaging/win32/pulse/speex-*.tar.gz
packaging/win32/pulse/speex-*/
packaging/win32/pulse/speex-build-cross
packaging/win32/pulse/speex-checkarchive
packaging/win32/pulse/speex-srcdir
packaging/win32/setupdir/
pconnect.exe
pulsetest.exe
testxauth.exe
tracelog.exe
watchreader.exe
packaging/win32/OpenNX*.exe
packaging/win32/pulse/pa-win32-*
aclocal.m4
config.h.in
configure
opennx.spec
po/de.gmo
po/ja.gmo
po/ru.gmo
po/de.po~
po/ja.po~
po/ru.po~
conf/compile
packaging/win32/pulse/*.h
Makefile.in
conf/config.guess
conf/depcomp
conf/install-sh
conf/missing
docs/Makefile.in
packaging/MacOSX/Makefile.in
packaging/MacOSX/pulse/Makefile.in
packaging/win32/Makefile.in
packaging/win32/cygnx/Makefile.in
packaging/win32/nx/Makefile.in
packaging/win32/pulse/Makefile.in
packaging/win32/xming/Makefile.in
build.lin/
build.win/
nxssh/
nxssh.tar.gz
config.guess
config.sub

debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/opennx.debhelper.log
debian/opennx.substvars
po/stamp-po
