[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/usr/NX/bin/opennx
Icon=nx
Comment=Connect to a remote NX server
Comment[de]=Mit einem NX-Server verbinden
Comment[ru]=Подключение к удаленному серверу NX
Name=OpenNX client
Name[de]=OpenNX client
Name[ru]=Клиент OpenNX
GenericName=NX client
GenericName[de]=NX client
GenericName[ru]=Клиент NX
Categories=Network;RemoteAccess;
